* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Roboro Mono', monospace;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    /* Técnica para que la página quede estática (sin scroll) */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
a {
    text-decoration: none;
    display: inline;
    color: black;
}
header {
    width: 100%;
    height: 90px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.header-icons-container {
    width: 100%;
    height: 40px;
    display: grid;
    background-color: #47cfac;
}
.header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    /* justify-items: flex-end; */
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    /* justify-self: end; */
    justify-self: center;
    /* margin-right: 50px; */
}
.header-icons-container .icons i {
    color: white;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50px;
    padding: 0 3%;
}
nav .nav-logo-container {
    margin: 0 auto;
}
nav .nav-logo-container img {
    width: 170px;
    height: 48px;
}
nav .profile-link {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}
nav .profile-link a {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: black;
    border-bottom: 1px solid black;
}
main.home-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    /* background-image: url("https://i.imgur.com/AfepH2u.png"); */
    background-image: url("../assets/img/cover.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
main.home-main section {
    display: grid;
    grid-column: 2;
    justify-items: center;
    text-align: center;
    height: 250px;
    margin-top: 50px;
}
main.home-main .title__index {
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
    color: white;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    letter-spacing: 10px;
}
main.home-main .button__index {
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    height: 30px;
    border: none;
    color: black;
    background-color: #47cfac;
    border-radius: 3px;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.8rem;
    display: inline-block;
    padding: 6px;
}